table {
	border: 5px solid black;
}

fieldset {
	width: 300px;
	text-align: right;
	margin-bottom: 15px;
}

.temporaryVisible {
	height: 50px; /*.żeby pojawienie się info o błędzie nie rozciągało fieldset */
}

input, select {
	width: 75%;
}

label {
	float: left;
	text-align: right;
	width: 20%
}

td, tr {
	width: 100px;
	text-align: center;
}