input {
	width: 200px;
	height: 30px;
	border-radius: 15px;
	margin-right: 20px;
	padding-left: 10px;
}

button {
	width: 70px;
	height: 30px;
	border-radius: 15px;
}

.buttons {
	display: flex;
}

.org {
	width:200px;
}

.data {
	font-family: 'Arial Black', 'Arial', sans-serif;
	font-size: 18px;
	text-align: center;
}

.data {
	padding-top: 20px;
}

.data + .data {
	padding-top: 0;
	padding-bottom: 20px;
}

h6 {
	text-align: center;
}

.part3 img {
	display: block;
	margin: 0 auto;
}

.sub {
	margin-top: 40px;
}